{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<header>
    <div class="container">
        <a class="logo" href="{% url 'welcome' %}" id="logo"><!--<img src="" >-->KnowU</a>
        <a class="edit" id="edit" style="opacity:0;display:none">编辑</a>
        <div class="right">
            <a class="btn small span" id="favour-detail"><span class="detail"></span></a>
        </div>
        <ul class="favour">
            <li>
                <a data-id="28">如果你可以回到过去杀死你...</a>
                <a class="delete"></a>
            </li>
        </ul>
    </div>
</header>

<div class="row bg_header" id="top">
    <div class="container">
        <h1 id="headline">Title 标题</h1>
        <p><small>来源 : <a href="" id="link">知乎</a></small></p>
    </div>
</div>

<div class="row bg_white">
    <div class="container" id="content">
        <p>正文</p>
    </div>
</div>

<div class="control">

    <div class="control-list">
        <a class="icon" id="like">
            <span class="text"><i>2</i> | 赞</span>
            <span class="icon"></span>
        </a>
        
        <a class="icon" id="star">
            <span class="text"><i>2</i> | 收藏</span>
            <span class="icon"></span>
        </a>
        
        <a class="icon" id="dislike">
            <span class="text">不喜欢</span>
            <span class="icon"></span>
        </a>

        <a class="icon" id="next">
            <span class="text">下一篇</span>
            <span class="icon"></span>
        </a>
    </div>
    <a class="control" id="control-button"></a>
</div>

<script type="text/javascript" src="{% static 'main/js/func.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery.scrollTo.min.js' %}"></script>

<script type="text/javascript">
function favour_all(content) {
    ajaxGet("{% url 'book_view' %}", function(content){
        $(".favour").html(function(){
            var string = "";
            for (key in content.item) {
                if (content.item[key].headline.length>12) {
                    string = string+'<li><a data-id="'+content.item[key].id+'">'+content.item[key].headline.slice(0,12)+'...</a><a class="delete"></a></li>'
                } else {
                    string = string+'<li><a data-id="'+content.item[key].id+'">'+content.item[key].headline+'</a><a class="delete"></a></li>'
                }
            }
            return string;
        });
        $("li a").click(function(){
            ajaxPost("{% url 'article' %}", {"article_id": $(this).data("id")}, function(content){
                set_article(content);
            });
        });
    });
}

function set_article(content) {
    $("#headline").text(content.headline);
    $("#link").attr("href", content.link);
    $("#link").text(content.source_name);
    $("#content").html(content.content);
    $("body").data("article_id", content.article_id);
    $("#like .text i").text(content.favour_total);
    $("#star .text i").text(content.booked_total);
    if (content.isfavour) {
        $("#like").addClass("ed");
        $("#like").data("flag", 1);
    } else {
        $("#like").removeClass("ed");
        $("#like").data("flag", 0);
    }
    if (content.isbooked) {
        $("#star").addClass("ed");
        $("#star").data("flag", 1);
    } else {
        $("#star").removeClass("ed");
        $("#star").data("flag", 0);
    }
}

$(document).ready(function(){
    favour_all();
    ajaxGet("{% url 'article' %}",function(content){
        set_article(content);
    });
    $("#next").click(function(){
        ajaxGet("{% url 'article' %}",function(content){
            set_article(content);
        });
        if ($(window).scrollTop() > 100){
            $.scrollTo("#top", 800);
        } else {
            $.scrollTo("#top", 50);
        }
    });

    $("#dislike").click(function(){
        ajaxPost("{% url 'user_action' %}", {"article_id": $("body").data("article_id"), "mode": "dislike"});
        ajaxGet("{% url 'article' %}",function(content){
            set_article(content);
        });
        if ($(window).scrollTop() > 100){
            $.scrollTo("#top", 800);
        } else {
            $.scrollTo("#top", 50);
        }
    });

    $("#like").click(function(){
        ajaxPost("{% url 'user_action' %}", {"article_id": $("body").data("article_id"), "mode": "favour"}, function(content){
            $("#like .text i").text(content.favour_total);
            if (!$("#like").data("flag")) {
                $("#like").addClass("ed");
                $("#like").data("flag", 1);
            } else {
                $("#like").removeClass("ed");
                $("#like").data("flag", 0);
            }
        });
    });

    $("#star").click(function(){
        ajaxPost("{% url 'user_action' %}", {"article_id": $("body").data("article_id"), "mode": "book"}, function(content){
            $("#star .text i").text(content.book_total);
            if (!$("#star").data("flag")) {
                $("#star").addClass("ed");
                $("#star").data("flag", 1);
            } else {
                $("#star").removeClass("ed");
                $("#star").data("flag", 0);
            }
            favour_all();
        });
    });
});
</script>

{% endblock %}