{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    {{ block.super }}
manage
{% endblock %}

{% block content %}


<header>
    <div class="container">
        <a class="logo" href="{% url 'welcome' %}" id="logo"><!--<img src="" >-->KnowU</a>
        <a class="edit" id="edit" style="opacity:0;display:none">编辑</a>
        <div class="right">
            <a class="btn small span" id="tag-detail"><span class="detail"></span></a>
        </div>
        <ul class="chosen">
            {% for tag in tags_user %}
            <li>
                <a>{{ tag.label }}</a>
                <a class="delete"></a>
            </li>
            {% endfor %}
        </ul>
    </div>

</header>

<div class="row bg_header">
    <div class="container">
        <h1 class="center">抉择</h1>
    </div>
</div>


<div class="row">
    <div class="container tag-choosing" id="tag_choosing">
        
        {% for tag in tags_all %}
        <div id="{{ tag.id }}">
            <a class="btn purple">{{ tag.label }}</a>
        </div>
        {% endfor %}
        <div id="chosen-btn">
            <a class="btn">选&nbsp;择</a>
        </div>
    </div>


</div>

<script type="text/javascript" src="{% static 'main/js/tag.js' %}"></script>

<script type="text/javascript">
    var cartag = $("#tag_choosing").children("div");
    var ctag = new Array();
    for (var i = 0; i < cartag.length; i++) {
        ctag[i] = $("#" + cartag[i]['id'] + " a");
    };

    $('#chosen-btn').click(function(){
        var tag_post_data = new Array();
        var flag = 0;
        for (var i = 0; i < ctag.length - 1; i++) {
            if (ctag[i].hasClass("chosen")) {
                tag_post_data[flag] = ctag[i].parent().attr("id");
                flag++;
            }
        };

        ajaxPost("{% url 'manage' %}", {'tags[]': tag_post_data}, function(content){
            alert('完成');
            location.pathname = "{% url 'home' %}";
        });
    });
</script>

{% endblock %}


