{% extends 'base.html' %}
{% block content %}


<header>
    <div class="container">
        <a class="logo" href="{% url 'welcome' %}"><!--<img src="" >-->KnowU</a>
        <div class="right">
            <a href="{% url 'register' %}" class="btn small">注册</a>
        </div>
    </div>
</header>


<div class="row bg_grey_2">
    <div class="container">
        <h1>Member Login</h1>
    </div>
</div>



<div id="welcome">
    <h1>HELLO</h1>
</div>


{% if not user.username %}
<div class="row">
    <div class="login container">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <input type="hidden" id="csrf_token" name="csrf_token">
            <div>
                {{ form.username }}
            </div>
            <div>
                {{ form.password }}
            </div>
            <div>
                <input class="btn blue" name="submit" type="submit" value="登&nbsp;录" />
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p><a href="">忘记密码</a></p>
    </div>
    <div class="container">
        <h2 class="center">OR</h2>
        <a href="{% url 'register' %}" class="btn orange">注册</a>
    </div>
</div>

{% else %}
    <script>location.pathname = "{% url 'manage' %}"</script>

{% endif %}
<script type="text/javascript">
$(document).ready(function(){
    var owelcome = $("#welcome");
    owelcome.addClass("hiden");
})
</script>


{% endblock %}

